<%= render partial: "layouts/user_menu" %>
<h2>Vehiculos</h2>
<h3><%= @user.first_name %> <%= @user.last_name %> Vehicle's</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Modelo</th>
            <th>Vin</th>
            <th>Year</th>
        </thead>
        <tbody>
        <% @vehicles.each do |vehicle| %>
            <tr>
                <td><%= vehicle.model %></td>
                <td><%= vehicle.vin %></td>
                <td><%= vehicle.year %></td> 
                <td><%= link_to "Edit", edit_user_vehicle_path(@user, vehicle), class: 'btn btn-default' %></td>
                <td><%= link_to "Delete", user_vehicle_path(@user, vehicle), method: 'delete', class: 'btn btn-danger', data: {confirm: "Are you sure?"} %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<div class="col-md-2 button-opt">
<%= link_to "Add Vehicle",
    new_user_vehicle_path(@user),
    class: 'btn btn-success'%>
</div>