<h1>Parking Locations</h1>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Description
              </th>
              <th>
                Address
              </th>
              <th>
                Map
              </th>
              <th>
                # Slots
              </th>
            </tr>
          </thead>
          <tbody>
            <% @locations.each do |location|%>
              <tr>
                <td><%= location.name %></td>
                <td><%= location.description %></td>
                <td><%= location.address %></td>
                <% unless location.latitude.nil? && location.longitude.nil? %>
                  <td>
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=150x150&sensor=false&zoom=14&markers=#{location.latitude}%2C#{location.longitude}" %>
                  </td>
                <%end%>
                <td>
                  <%= location.slots.count %> / <%= location.max_slots %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= link_to "Add Location", new_location_path(@user), class: 'btn btn-success'%>